  

  .card-descricao{
    width: 70%; 
    height:35%;
    display: block;
    
  }

  .card-sp{
    width: 100%; 
    height: 10%;
    
  }

  .card-join{
    width: 50%;
    height: 35%; 
    
    
  }

  .card-footer{
    width: 100%; 
    height: 10%; 
    
  }